<!DOCTYPE html>
<html>
<head>
  <title>Sal</title>
  <%= stylesheet_link_tag    "sal/application", media: "all" %>
  <%= javascript_include_tag "sal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
